<!DOCTYPE html>
<html>
<head>
  <title >YPIC-faculty</title>
    <link rel="stylesheet" href="css/faculty.css">
</head>
<body>

    <%- include('header')%>

    <div name="notice" style="border: 0px black dotted; margin-top: 5px;padding: 10px;
           min-width: 10px;padding-right: 50%;color:blue; " >  
    </div> 

    <div  style="background-color:maroon; width: 100%; height:5px;"> </div>
    <div  style="background-color:maroon; width: 100%; height:5px;"> </div>

      <p class="head"  >
              <h1 style="text-align: center;"  >Notice Board </h1> 
              <!-- <h2  style="text-align: center;">" शिक्षण एक ऐसा व्यवसाय है जो बाकी सारे व्यवसाय बनाता है। " </h2> -->
      </p>
      <div style="text-align:center;padding:3%;color:red; " >
        सुचना खोजने में बाधा आ रही है | कष्ट के लिए खेद है |कुछ समय प्रतीक्षा करे |
      </div>

      <div style="background-color:maroon; width: 100%; height:5px;"> </div>


    <%- include('footer')%>


</body>
</html>