<!DOCTYPE html>
<html>
<head>
  <title >YPIC-faculty</title>
    <link rel="stylesheet" href="css/faculty.css">
</head>
<body>

    <%- include('header')%>

    <div name="notice" style="border: 0px black dotted; margin-top: 5px;padding: 10px;
           min-width: 10px;padding-right: 50%;color:blue; " >  
    </div> 

    <div  style="background-color:maroon; width: 100%; height:5px;"> </div>
    <div  style="background-color:maroon; width: 100%; height:5px;"> </div>

      <p class="head"  >
              <h1 style="text-align: center;"  >Y.P.I.C Faculty Team </h1> 
              <h2  style="text-align: center;">" शिक्षण एक ऐसा व्यवसाय है जो बाकी सारे व्यवसाय बनाता है। " </h2>
      </p>

      <div  style="background-color:maroon; width: 100%; height:5px;"> </div>

        <table >
            
            <tr>
                <td class = "pic_col" > <img src="images/faculty_1.jpeg" class="pic_teacher"></img> </td>
                <td class = "pic_col" > <img src="images/faculty_2.jpeg" class="pic_teacher"></img> </td>
                <td class = "pic_col" > <img src="images/faculty_3.jpeg" class="pic_teacher"></img> </td>
                <td class = "pic_col" > <img src="images/faculty_4.jpeg" class="pic_teacher"></img> </td>
            </tr>

            <tr>
                <td class="intro_col"> Name : Uday Verma <br> Village : Atuka  <br><br> </td>
                <td class="intro_col"> Name : adesh kushwaha <br> Village : Gausganj  <br><br> </td>
                <td class="intro_col"> Name : Ashok Kumar <br> Village : Patti<br><br> </td>
                <td class="intro_col"> Name : Babu Ram <br> Village : Chatan Khera <br><br> </td>
            </tr>
            <tr>
              <td class = "pic_col" > <img src="images/faculty_5.jpeg" class="pic_teacher"></img> </td>
              <td class = "pic_col" > <img src="images/faculty_6.jpeg" class="pic_teacher"></img> </td>
              <td class = "pic_col" > <img src="images/faculty_7.jpeg" class="pic_teacher"></img> </td>
              <td class = "pic_col" > <img src="images/faculty_8.jpeg" class="pic_teacher"></img> </td>
            </tr>

            <tr>
                <td class="intro_col"> Name : Gayatri Singh <br> Village : Tikaram Khera <br><br> </td>
                <td class="intro_col"> Name : Laxmi Jaiswal <br> Village : Bhatauli <br><br> </td>
                <td class="intro_col"> Name : Mulayam Singh <br> Village :Rmpur Bhatauli <br><br> </td>
                <td class="intro_col"> Name : Nabi Muhammad <br> Village :Behander Kalan <br><br> </td>
            </tr>
            <tr>
              <td class = "pic_col" > <img src="images/faculty_9.jpeg" class="pic_teacher"></img> </td>
              <td class = "pic_col" > <img src="images/faculty_10.jpeg" class="pic_teacher"></img> </td>
              <td class = "pic_col" > <img src="images/faculty_11.jpeg" class="pic_teacher"></img> </td>
              <td class = "pic_col" > <img src="images/faculty_12.jpeg" class="pic_teacher"></img> </td>
            </tr>

            <tr>
                <td class="intro_col"> Name : Rakesh Babu <br> Village : Atuka <br><br> </td>
                <td class="intro_col"> Name : Ramswaroop Gautam <br> Village : Shahpur <br><br> </td>
                <td class="intro_col"> Name : Ritesh Shukla <br> Village : Rasulpur Brahamnan <br><br> </td>
                <td class="intro_col"> Name : Shanti Devi <br> Village : Sarehri <br><br> </td>
            </tr>
            <tr>
              <td class = "pic_col" > <img src="images/faculty_13.jpeg" class="pic_teacher"></img> </td>
              <td class = "pic_col" > <img src="images/faculty_14.jpeg" class="pic_teacher"></img> </td>
              <td class = "pic_col" > <img src="images/faculty_15.jpeg" class="pic_teacher"></img> </td>
              <td class = "pic_col" > <img src="images/faculty_16.jpeg" class="pic_teacher"></img> </td>
            </tr>

            <tr>
                <td class="intro_col"> Name : Shilpi Devi <br> Village : Atuka <br><br> </td>
                <td class="intro_col"> Name : Shital Singh <br> Village : Jasu <br><br> </td>
                <td class="intro_col"> Name : Shubha Devi <br> Village : Bahlolpur <br><br> </td>
                <td class="intro_col"> Name : Sunder Lal <br> Village : Bahlolpur <br><br> </td>
            </tr>
          
      
    </table>


    <%- include('footer')%>


</body>
</html>