
<div class="footer">
    <footer style="padding:30px; color:white; text-decoration: none;margin-top: 20px;">
            <p> Maintained by: Y.P.I.C. Technical Team </p>
            <p> Contact information: <a style="color:black;" href="mailto:ypicdiwari1461@gmail.com">ypicdiwari1461@gmail.com</a>.</p>
            <p> Mobile No. : 94556669074 , 9532193039, 9935741255 </p>
            <p> Videos of YPIC : <a style="color:black;" href="https://www.youtube.com/channel/UCwi0RYyvWlhQ7q8PR8mmKyA/videos"> YOUTUBE</a></p>
            <ul class="social-icons" style="padding-left: 50px;float:right; margin-top: -100px;" >
                  <a class="icon" href="https://www.facebook.com/pages/category/Education/Yadurai-Public-Inter-College-1441819882594293/" style="margin-right: 20px;" > <img src="/images/icon_fb.png" width="50" height="50"> </a>
                  <a class="icon" href="https://www.youtube.com/channel/UCwi0RYyvWlhQ7q8PR8mmKyA/videos" style="margin-right: 20px;" > <img src="/images/icon_youtube.png" width="50" height="50"> </a>
                  <a class="icon" href="mailto:anmolmaurya563@.com" style="margin-right: 20px;" > <img src="/images/icon_gmail.png" width="50" height="50"> </a>
            </ul>
    </footer>
</div>

