<!DOCTYPE html>
<html>
<head>
    <title >YPIC-home</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <%- include('header')%>
    
    <div name="notice" style="border: 0px black dotted; margin-top: 5px;padding: 10px;
           min-width: 10px;color:blue; " > 
        <p style="color: green;"> <b style="color: blue;" > आवश्यक सूचना : </b> 
          <b style="color:red;" > दिनांक : </b>    <%= date %>  </p>
         <p style="color:green;" > <b style="color:red;" >सूचना  : </b>   <%= post %>  </p>
    </div>
    <div  style="background-color:maroon; width: 100%; height:5px;"> </div>
     <div class="img-1" >
        <img src = "/images/cllg-1.jpg" style="width: 90%;margin-left: 5%;box-shadow: 2px 2px 2px 2px maroon;"></img>
     </div>
     <div  style="background-color:maroon; width: 100%; height:5px;"> </div>

     <h1 style="text-align: center; color: white; background-color: rgb(160, 54, 54); padding: 5px;;">
         Pillars of Y.P.I.C. 
     </h1> 

     <table >
        
        <tr>
          <td><img src="/images/piller_1.jpeg" class="img">  </img> </td>
          <td><img src="/images/piller_2.jpeg" class="img">  </img> </td>
          <td><img src="/images/piller_3.jpeg" class="img">  </img> </td>
        </tr>
          <tr>
            <td> Name : BrijMohan Lal Mourya</td>
            <td> Name : Amit Kumar Maurya</td>
            <td> Name : Manmohan Lal Mourya</td>
            
          </tr>
          <tr>
            <td> Post : Founder Manager</td>
            <td> Post : Director</td>
            <td> Post : Finance Advisor </td>
          </tr>
         
      </table>

     <div>
      <h1 style="text-align: center; color: white; background-color: rgb(160, 54, 54); padding: 5px;">
         About College 
      </h1>
      <p style="padding: 2%;"> 
        &nbsp&nbsp&nbsp&nbsp&nbsp <b> YADURAI PUBLIC INTER COLLEGE </b>, which is known for it's QUALITY EDUCATION was establised in
        the year 2009. In the begining it was having only a basic structure, but due to it's quality
        education, at present it has over 1200+ strength of students from 70+ villages in that area.
        Y.P.I.S is full of facilities has well qualified and highly experianced teachers. 
        Board result of this college beating all colleges in that area.
        <br><br>

        &nbsp&nbsp&nbsp&nbsp&nbsp <b> OUR MISSION </b>:- 
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        So that the highest standards of excellence are attained and
         maintained So that capable and responsible citizens for the future are nurtured with
          love So that the commitment to Indian ethos and culture is cultivated with passion
          So that sensitivity towards environmental concerns is evoked with care So that 
          contemporary challenges of education are met headlong So that the thinking is lateral
          and the vision truly global So that ‘Service before self’ means serving others graciously
          and selflessly So that one stands strong when the winds of change blow

        <h2 style="text-align: center;" >प्रबंधक की कलम से:-</h2>

        <p style="padding: 2%;"> जिन्दगी में बहुत सारे अवसर ऐसे आते है जब हम बुरे हालात का सामना कर रहे होते है 
        और सोचते है कि क्या किया जा सकता है क्योंकि इतनी जल्दी तो सब कुछ बदलना संभव नहीं है और
        क्या पता मेरा ये छोटा सा बदलाव कुछ क्रांति लेकर आएगा या नहीं लेकिन मैं आपको बता दूँ हर चीज़ या
        बदलाव की शुरुआत बहुत ही सामान्य ढंग से होती है | कई बार तो सफलता हमसे बस थोड़े ही कदम दूर 
        होती है कि हम हार मान लेते है जबकि अपनी क्षमताओं पर भरोसा रख कर किया जाने वाला कोई भी ब दलाव 
        छोटा नहीं होता और वो हमारी जिन्दगी में एक नीव का पत्थर भी साबित हो सकता है | मुसीबते हमारी ज़िंदगी 
        की एक सच्चाई है। कोई इस बात को समझ लेता है तो कोई पूरी ज़िंदगी इसका रोना रोता है। ज़िंदगी के हर 
        मोड़ पर हमारा सामना मुसीबतों से होता है. इसके बिना ज़िंदगी की कल्पना नहीं की जा सकती। पढाई करने 
        के लिये आपको पर्याप्त समय और एक सही जगह की जरुरत होती है, क्योकि आपका पढाई का समय और 
        पढ़ने की जगह आपमें बडा बदलाव ला सकती है.
        <b>"अगर तुम सूरज की तरह चमकना चाहते हो तो तुम्हे 
          पहले सूरज की तरह जलना होगा" - Dr. A.P.J. Abdul Kalam</b>
        </p>

      </p>
     </div>
      <h1 style="text-align: center; color: white; background-color: rgb(160, 54, 54); padding: 5px;">
        Qualities of college
      </h1>
      <table >
        
        <tr>
          <td><img src="/images/qualities_1.jpeg" class="img">  </img> </td>
          <td><img src="/images/qualities_2.jpeg" class="img">  </img> </td>
          <td><img src="/images/qualities_3.jpeg" class="img">  </img> </td>
        </tr>
        <tr>
          <td> Quality education </td>
          <td> Infrasturcture  </td>
          <td> 100% Board Exam Result</td>
        </tr>
   
        <tr>
            <td><img src="/images/qualities_4.jpeg" class="img">  </img> </td>
            <td><img src="/images/qualities_5.jpeg" class="img">  </img> </td>
            <td><img src="/images/qualities_6.jpeg" class="img">  </img> </td>
        </tr>
        <tr>
            <td> Science exhibition </td>
            <td> Annual function</td>
            <td> Sports </td>
        </tr>
     </table >

     <%- include('footer')%>

    </div>
</body>
</html>