<ul style="float: right; background-color: maroon; border: 2px white solid;
    margin-top: 0px; color: white;display: block; padding: 5px;margin-right: 5%;" >
    
    <li>STUDENTS </li>
    <li>NOTICE  </li>
    <li>FACULTY </li>
    <li>TEAM  </li>
    <li>HOME </li>
</ul>
