<!DOCTYPE html>
<html>
<head>
  <title >YPIC-team</title>
    <link rel="stylesheet" href="css/team.css">
</head>
<body>

    <%- include('header') %>
    <div name="notice" style="border: 0px black dotted; margin-top: 5px;padding: 10px;
           min-width: 10px;padding-right: 50%;color:blue; " > 
       
    </div>
    <div  style="background-color:maroon; width: 100%; height:5px;"> </div>
     
     <div  style="background-color:maroon; width: 100%; height:5px;"> </div>

      <p class="head"  >
             <h1 style="text-align: center;"  >Y. P. I. C. Core Team </h1> 
              <h2  style="text-align: center;">
                " अंततः, वास्तविक अर्थों में शिक्षा सत्य की खोज है। यह ज्ञान और आत्मज्ञान से होकर गुजरने वाली एक अंतहीन यात्रा हैं। " 
              </h2>
      </p>

      <div  style="background-color:maroon; width: 100%; height:5px;"> </div><br>

      <div name="form" style="padding-left: 20%;" >
        <form  method="POST" action="/auth/login" >
    
          Enter Identity : <input type="text" id="username" name="username"  required placeholder="phone"> <br><br>
          Enter password : <input type="password" id="password" name="password" required placeholder="password" > <br><br>
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          <button> Login to post </button>
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<%= notice %><br><br>
        </form> 
        

      </div>
      <div  style="background-color:maroon; width: 100%; height:5px;"> </div><br>
    

       <table >
            <tr>
                <th>PHOTO</th>
                <th>INTRODUCTION</th>
                <th>PHOTO</th>
                <th>INTRODUCTION</th>
            </tr>
            <tr>
                <td class = "pic_col" > <img src="images/team_1.jpg" class="pic_teacher"></img> </td>
                <td class="intro_col">
                  <b>
                    Name : Brijmohan Lal Mourya <i style="color: red;">( Dr. )</i> <br><br>
                    Post : Founder Manager  <br><br>
                    Village : Diwari            <br><br>
                    Qualification : diploma in medical   <br><br>
                    hobby : gardening , reading      <br><br>
                    Contact No : 9794800310     <br><br>
                  </b>
                </td>
                <td class = "pic_col" > <img src="images/team_2.jpg" class="pic_teacher"></img> </td>
                <td class="intro_col">
                  <b>
                    Name : Manmohan Lal Mourya <br><br>
                    Post : Finance Advisor  <br><br>
                    Village :Diwari            <br><br>
                    hobby : puzzle solving and art <br><br>
                    Contact No : 9935741255     <br><br>
                    
                  </b>
                </td>
            </tr>


            <tr>
                <td class = "pic_col" > <img src="images/team_3.jpg" class="pic_teacher"></img> </td>
                <td class="intro_col">
                  <b>
                    Name : Amit Kumar Maurya <br><br>
                    Post : Director <br><br>
                    Village : Diwari           <br><br>
                    Qualification : B.tech , B.ed , M.ed       <br><br>
                    hobby : Teaching <br><br>
                    Contact No : 9455669074     <br><br>
                  </b>
                </td>
                <td class = "pic_col" > <img src="images/team_4.jpg" class="pic_teacher"></img> </td>
                <td class="intro_col">
                  <b>
                    Name : Sumit Kumar Maurya <i style="color: red;"> ( Govt. Teacher )</i> <br><br>
                    Post : Guide and counsellor <br><br>
                    Village : Diwari           <br><br>
                    Qualification : B.sc , BTC       <br><br>
                    hobby : Teaching
                  </b>
                </td>
            </tr>

          
          <tr>
              <td class = "pic_col" > <img src="images/team_5.jpg" class="pic_teacher"></img> </td>
              <td class="intro_col">
                <b>
                  Name : Dipanshu Maurya <i style="color: red;"> (U.P Police)</i> <br><br>
                  Post : counsellor <br><br>
                  Village : Rasulabad unnao           <br><br>
                  Qualification : B.sc ,DCA        <br><br>
                  hobby : service For Nation
                </b>
              </td>
              <td class = "pic_col" > <img src="images/team_6.jpg" class="pic_teacher"></img> </td>
              <td class="intro_col">
                <b>
                  Name : Anju Maurya <br><br>
                  Post : Assistent Teacher <br><br>
                  Village : Diwari            <br><br>
                  Qualification : B.sc , M.sc      <br><br>
                  hobby : teaching 
                </b>
              </td>
          </tr>

        <tr>
          <td class = "pic_col" > <img src="images/team_7.jpg" class="pic_teacher"></img> </td>
          <td class="intro_col">
            <b>
              Name : Pooja Maurya <i style="color: red;">( Dr. )</i>  <br><br>
              Post : Assistent Teacher <br><br>
              Village : Diwari           <br><br>
              Qualification : B.sc , Optometry       <br><br>
              hobby : reading and teaching      <br><br>
            </b>
          </td>
          
          <td class = "pic_col" > <img src="images/team_8.jpg" class="pic_teacher"></img> </td>
          <td class="intro_col">
            <b>
              Name : Rachna Maurya <br><br>
              Village : Diwari           <br><br>
              Qualification : B.A, M.A.       <br><br>
              hobby : Craft , Drawing  <br><br>
            </b>
          </td>
        </tr>
        <tr>
          <td class = "pic_col" > <img src="images/team_9.jpg" class="pic_teacher"></img> </td>
          <td class="intro_col">
            <b>
              Name : Manish Maurya <i style="color: red;">  (Medical staff )</i>  <br><br>
              Post : counsellor <br><br>
              Village : Kasmandi ,Lucknow          <br><br>
              Qualification : B.sc , Optometry       <br><br>
              hobby : Medical experiments      <br><br>
            </b>
          </td>
          
          <td class = "pic_col" > <img src="images/team_10.jpg" class="pic_teacher"></img> </td>
          <td class="intro_col">
            <b>
              Name : Sonu Maurya  <i style="color: red;">(Professor - English) </i> <br><br>
              Post : counsellor <br><br>
              Village : Mishrikh, Sitapur         <br><br>
              Qualification : B.A, M.A., B.ed, M.ed,MPhill (English)       <br><br>
              hobby : Teaching   <br><br>
            </b>
          </td>
        </tr>

       </table>

       <%- include('footer')%>

</body>
</html>