<!DOCTYPE html>
<html>
  <head>
    <title>welcome to the club</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to the club</p><br><br><br>
    
    <p>Welcome to INDIA tech master of all contries</p>
    
    <!--<img src='../images/1.JPG' width="50%"></img> -->

      <form method="POST" >
            Enter the username      : <input name="username" type="text"  > </input> <br>
                                       
            Enter the phone         : <input name="phone" type="text"  > </input>  <br>
                                    
            Enter the email address : <input name="email" type="text" > </input>  <br>
                                   
            Enter the password      : <input name="password" type="password" > </input>  <br>
                                    
      <input type="submit">
      </form>

  
  </body>
</html>
